// /* theme color */
$--colors: (
  'primary': (
    'base': #e0b167,
  ),
  'success': (
    'base': #7fa38f,
  ),
  'warning': (
    'base': #ffba00,
  ),
  'danger': (
    'base': #ff4949,
  )
);
// $--color-primary: #e0b167;
// $--color-success: #7fa38f;
// $--color-warning: #ffba00;
// $--color-danger: #ff4949;
/* 改变 icon 字体路径变量，必需 */
$--font-path: 'element-plus/lib/theme-chalk/fonts';
@import 'element-plus/packages/theme-chalk/src/index';
$--el-menu-background-color:#195FFC